/* Written by Zack Crosbie for Project0 in CS50 */

body {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: rgb(32, 33, 36);
    color: white;
}
  
.searchbar {
    border-radius: 100px;
    width: 600px;
    height: 25px;
    margin: 20px;
    padding: 10px;
    padding-left: 40px;
    color: white;
    background-color: #4d5156;
    font-weight: bold;
    border: none;
}
  
input[type="submit"], input[type="button"] {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2f2f2f;
    color: white;
    width: 160px;
    margin: 10px;
    transition: background-color 0.3s ease;
}
  
input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #555;
}
  
.searchbutn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
  
.link {
    text-align: right;
    font-size: medium;
    padding: 10px;
    margin: 10px;
}
  
.icon {
    height: 20px;
    line-height: 20px;
    width: 20px;
}
  
