body {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: large;
  background-color: gray;
  color: white;
}

.rounded {
    border-radius: 20px;
}

.search {
  padding: 20px;
  margin: 40px;
}

.links {
  text-align: right;
  font-size: medium;
  padding: 10px;
}